
<div id="map" #mapa></div>

<div class="zoom-container p-2">

  <div class="zoom-component">
    <button (click)="zoomOut()" class="btn btn-primary">-</button>

    <input  (input)="changeZoomWithBar( zoombar.value )"
            [value]="currentState.zoom"
            type="range"
            class="form-range px-2"
            min="1"
            max="20"
            #zoombar>

    <button (click)="zoomIn()" class="btn btn-primary">+</button>
  </div>

  <div>
    <span class="form-label">
      Zoom: {{ currentState.zoom | number:'2.2-2' }}
      <br>
      Lng, Lat: {{currentState.lng | number:'2.5-5'}}, {{currentState.lat | number:'2.5-5'}}
    </span>
  </div>

</div>
