<div class="map-wrap">
  <a href="https://www.maptiler.com" class="watermark"><img
      src="https://api.maptiler.com/resources/logo.svg" alt="MapTiler logo"/></a>
  <div class="map" #map></div>
</div>

<button class="set-mark btn btn-primary"
        (click)="addMarker()"
        >+ Agregar marcador</button>

<ul class="markers-container list-group">
  <li class="list-group-item">Marker 1</li>
  <li class="list-group-item">Marker 2</li>
  <li class="list-group-item">Marker 3</li>
  <li class="list-group-item">Marker 4</li>
  <li class="list-group-item">Marker 5</li>
</ul>
