<div class="map-wrap">
  <a href="https://www.maptiler.com" class="watermark"><img
      src="https://api.maptiler.com/resources/logo.svg" alt="MapTiler logo"/></a>
  <div class="map" #map></div>
</div>

<button class="set-mark btn btn-primary"
        (click)="addMarker()"
        >+ Agregar marcador</button>

<ul class="markers-container list-group">
  <li class="list-group-item"
      *ngFor="let markAndColor of markersAndColors; let i = index"
      [ngStyle]="{color: markAndColor.color}"
      (dblclick)="deleteMarker(i)"
      (click)="moveToMarker(markAndColor.marker)"
  ><strong>Marker {{i+1}}</strong></li>
</ul>
